 <aside class="sidebar">
    <img src="assets/img/SprintWise2.png" class="logo" />
    <nav class="menu">
      <div class="menu-group">
        <h4>Principal</h4>
        <ul>
          <p-panelMenu
            [model]="itemsPrincipal"
            styleClass="sidebar-menu"
          ></p-panelMenu>
        </ul>
      </div>

      <div class="menu-group">
        <h4>Análises</h4>
        <ul>
          <p-panelMenu
            [model]="itemsAnalise"
            styleClass="sidebar-menu"
          ></p-panelMenu>
        </ul>
      </div>
    </nav>
    <div class="bottom-login">
      <span class="profile pi pi-user">
      </span>
      <button
        pButton
        label="Log In"
        class="p-button-danger p-button-sm loginButton"
      ></button>
    </div>
  </aside>